<section>
    <div class="container">
        <div class="row mt-80 mb-64">
            <div class="col-xl-6 col-md-7">
                <div>
                    <h2 class="main-section-header">A faster & easier way to receive <span class="font-blue-strong">payments</span> online</h2>
                    <p class="main-section-p mt-4">Scuad builds innovative pathways to enable all types of businesses and 
                        individuals from around the world make and receive payments smarter and 
                        simpler
                    </p>
                </div>
                <div class="row mt-5">
                    <div class="col-xl-4 col-md-6">
                        <button class="btn btn-primary h-45 w-100">Create an account</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-4 mt-3">
                <div class="d-flex">
                    <div>
                        <img src="assets/images/checked.png" class="img-reponsive" alt="1">
                    </div>
                    <div class="px-3">
                        <p class="font-grey f-size14"><span class="text-dark f-weight600">Quick setup. </span>Begin accepting payments in 15 minutes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="d-flex">
                    <div>
                        <img src="assets/images/checked.png" class="img-reponsive" alt="1">
                    </div>
                    <div class="px-3">
                        <p class="font-grey f-size14"><span class="text-dark f-weight600">Honest Pricing. </span>Only pay for successful transactions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="d-flex">
                    <div>
                        <img src="assets/images/checked.png" class="img-reponsive" alt="1">
                    </div>
                    <div class="px-3">
                        <p class="font-grey f-size14"><span class="text-dark f-weight600">All leading payment methods.  </span>The best localised experience.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <p class="font-grey f-size12 text-center">Fees range between 0.10-2.4NGN (+ additional fees based on % of transaction value). More pricing details per payment method here</p>
            </div>
        </div>
    </div>
</section>
