<section>
    <div class="container">
        <div class="row mt-12rem">
            <div class="col-lg-5 mb-4">
                <div class="d-flex">
                    <p class="section-header-features f-size14">Features</p>
                </div>
                <div>
                    <h4 class="text-dark f-weight700">Create Payment Requests</h4>
                </div>
                <div class="mt-4">
                    <p class="f-size14">Make a simple payment link in 5 seconds. Use our powerful 
                        features to customize your request</p>
                </div>
                <a href="#" class="d-flex font-blue mt-4">
                    Learn more <span class="px-2"><img src="assets/images/chevron.png" alt=""></span>
                </a>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4 mb-4">
                <div class="skeleton-loader-background d-flex flex-column justif-content-center position-relative">
                    <div class="d-flex align-items-center">
                        <span class="circle-loader"></span>
                        <span class="skeleton-loader-gradient mx-2"></span>
                    </div>
                    <div class="mt-5 d-flex align-items-center">
                        <span class="circle-loader"></span>
                        <span class="skeleton-loader-gradient mx-2"></span>
                    </div>
                    <div class="link-div d-flex align-items-center justify-content-between position-absolute">
                        <a href="https://www.habarpay.com/940jej" class="f-size12">https://www.habarpay.com/940jej</a>
                        <span><button class="btn btn-primary">Copy link</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
